.pokemon-container {
  max-width: 720px;
  margin: 16px auto 0px auto;
}

.pokemon-data {
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.pokemon-image {
  width: 260px;
  background-color: #e5e7eb;
}

.pokemon-name {
  text-align: center;
  margin: 16px 0 4px 0;
}

.pokemon-number {
  color: #e5e7eb;
}
