<section class="pokemon-container">
  <div *ngIf="result.loading">Loading...</div>
  <div *ngIf="result.error">Pokemon não encontrado</div>
  <div *ngIf="result.data" class="pokemon-data column">
    <h2 class="pokemon-name">{{ capitalizedName }} Nº{{ paddedNumber }}</h2>
    <div class="row">
      <img class="pokemon-image" [src]="result.data.image.default" />
      <div class="column">
        <div class="row">
          <p>{{ weight }}</p>
          <p>{{ height }}</p>
        </div>
        <div>
          <p *ngFor="let status of result.data.stats">
            {{ formatStatus(status.name) }}: {{ status.base }}
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <app-pokemon-type *ngFor="let type of result.data.types" [type]="type" />
    </div>
  </div>
</section>
