.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 16px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.root-link {
  color: hsl(56, 92%, 51%);
  -webkit-text-stroke: 3px hsl(227, 64%, 46%);
  text-decoration: none;
  font-weight: bold;
  font-size: 2.5rem;
}
